/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.firstHeading {
	font-size:2rem;
}

.nav-distance {
padding:1.1% 1.7%;
	
}
.navbar-brand .navbar-light{
	
	font-family: NanumSquareR;
	font-size: 41px;
	line-height: 1.68;
	text-align: left;
	color: #35465d;
}
.navbar-toggler {
	font-size: 1rem;
}
.section {
	margin-top:10px;
	margin-bottom:10px;
		
}
.title {
	font-family: NanumSquareR;
	font-size:28px;
	line-height: 1.68;
	text-align: center;
	color: #35465d;
}
.subtitle {
	
	font-family: NanumSquareR;
	font-size:20px;
	line-height: 1.68;
	text-align: center;
	color: #35465d;
}
.jumbotron {
	
    padding-top: 10px;
    padding-bottom: 5px;

}
.text-secondary {
	font-size:1.2rem;
	
}
.text-primary {
	font-size:0.8rem;
	color:#212529!important;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
	.navbar-brand {
		font-size:2rem;
	}
	.title {
		font-size:2.2rem;
	}
	.subtitle {
		font-size:1.8rem;
		
	}
	